header {
  font-family: Georgia, Times, serif; font-style: italic;
}
header h1 {
  font-size: 3em; font-weight:bold; font-style: normal;
}
header h2{
  font-size: 1.5em; font-weight:lighter; font-style: normal;
}
#page-title h1 {
  font-family: Georgia, Times, serif; font-size: 1.8em; font-weight: bolder;
}
h2{
  font-family: Georgia, Times, serif; font-weight: bold;
}

p {
  font-family: Verdana, Helvetica, Arial, "sans serif"; font-size: 1em; font-weight: normal;
}