body{
  background-color: rgb(0,136,0);
}
#page-wrapper{
  width:960px; background-color: white;
  margin: 0 auto; /* tb lr*/
}
#page-header, #content, #navbar{
  padding: 0 1em
}
#page-header{
  padding-top: 1em;
  position: relative;
}
#page-header #userlinks {
  position:absolute;
  top:10px;
  right:15px;
}
#page-header img{
  vertical-align: middle;
}

#page-header h2{
  font: bolder italic 1.5em "Georgia", "Times", serif;
}
#user-links {
  position:absolute;
  top:10px;
  right:15px;
}
#user-links a{
  color:darkgreen;
  text-decoration:none;
}
#user-links a:hover{
  text-decoration:underline;
}
th,td{
  padding: 6px;
}
tr:nth-child(odd){
  background-color: #eee;
}
label {
  font-weight: bold;
  display:block;
  margin-top: 10px;
}
#navbar a{
  color: #CCFFCC;
  text-decoration:none;
  padding:0.25em;
  display:inline-block;
}
#navbar {
  background-color: #333;
}
#navbar ul{
  padding: 0;
}
#navbar ul li{
  display: inline-block;
}
#navbar a:hover{
  background-color:#666;
  text-shadow: 2px 2 px #333; 
}
#page-wrapper h1{
  font: bold italic 3em "Georgia", "Times", serif;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
header {
  font-family: Georgia, Times, serif; font-style: italic;
}
header h1 {
  font-size: 3em; font-weight:bold; font-style: normal;
}
header h2{
  font-size: 1.5em; font-weight:lighter; font-style: normal;
}
#page-title h1 {
  font-family: Georgia, Times, serif; font-size: 1.8em; font-weight: bolder;
}
h2{
  font-family: Georgia, Times, serif; font-weight: bold;
}

p {
  font-family: Verdana, Helvetica, Arial, "sans serif"; font-size: 1em; font-weight: normal;
}
input[type=radio] + label, inpue[type=checkbox] + label {
  font-weight:normal;
  display:inline;
}